.articleList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;

    .article{
        border: 1px solid #ebebeb;
        box-shadow: 0 1px 4px rgba(102,102,102,0.15);
        width: 250px;
        height: 300px;
        cursor: pointer;

        &:hover{
            box-shadow: 0 1px 6px rgba(102,102,102,0.25);
        }

        a{
            text-decoration: none;
            color: black;
        }

        .imageContainer{
            height: 200px;

            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }

        p{
            padding: 1rem;
        }
    }
}